<h1 class="app-name">51 App</h1>

<div class="scrollable">
    <h1 class="scrollable-header app-name">51 App</h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/newsletter">Newsletter <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/schedule">Schedule <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/backblasts">Backblasts <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>